# Secrets
.env

# Python
__pycache__/
*.pyc
venv/
.pytest_cache/

# Database (Optional: Keep this if you want people to see the dummy data, ignore if it has real data)
# pricing.db

# Docker
n8n_data/

# OS files
.DS_Store
Thumbs.db